.show-default {
  display: block !important;
}

.hide-default {
  display: none !important;
}
.blind {
  width: 0;
  height: 0;
  display: block;
  overflow: hidden;
}
:root {
  --orange: #F49600;
  --emorange: #EB650B;
  --dark: #201f1e;
  --medium: #514e4b;
  --bg: #F8F7F5;
  --pretend: "Pretendard", sans-serif;
}
#skipNav {
  position: relative;
  z-index: 9999;
  }
#skipNav a {
  position: absolute;
  top: -200px;
  left: 0;
  width: 100%;
  text-align: center;
  line-height: 30px;
  background-color: var(--orange);
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}
#skipNav a:focus,
#skipNav a:active {
  top: 0;
}
.header {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: #fff;
  /* border-bottom: 1px solid #ddd; */
}
.header::after {
  content: "";
  background-color: #ddd;
  height: 1px;
  width: 100%;
  position: absolute;
  bottom: 0;
  transition: background .3s ease;
}
.header .header-mark {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid transparent;
  position: absolute;
  top: -1px;
  left: 0;
  right: 0;
  height: 0;
  -webkit-transition: height 0.2s ease;
  transition: height 0.2s ease;
}

.header-logo {
  position: relative;
  z-index: 99999;
}

.header .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
}

.header .header-lang {
  margin-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header-lang a {
  opacity: 0.5;
  font-size: 15px;
  font-weight: 600;
  margin-left: 18px;
  display: block;
}
.header .header-lang a:first-child {
    margin-left: 0px;
  }
.header .header-lang a.active {
  opacity: 1;
  text-decoration-line: underline;
  text-underline-offset: 5px;
}

.header .header-gnb {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(8, auto);
  grid-gap: 40px;
  position: relative;
}

/* .header .header-gnb > div {
  position: relative;
} */

.header .header-gnb__dep01 {
  font-weight: 600;
  font-size: 18px;
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.header .header-gnb__dep01::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background-color: var(--orange);
  left: 50%;
  bottom: -1px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 3;
}

.header .header-gnb > div:hover .header-gnb__dep01::after {
  width: 100%;
}
.header.top {
  background-color: transparent;
}
.header.top::after {
  background-color: transparent;
}
.header.top:hover::after {
  background-color: #ddd;
}
.header.is-sub.top,
.header.top:hover {
  background-color: #fff;
}
.header.top.side-on::after,
.header.is-sub.top.side-on,
.header.top.side-on:hover  {
  background-color: transparent;
}

.header.top.is-sub .header-gnb__dep01,
.header.top:hover .header-gnb__dep01 {
  color: #201F1E;
  height: 160px;
}

.header.top.is-sub .header-lang a,
.header.top:hover .header-lang a {
  color: #201F1E;
}

.header.top.is-sub .hamburger-btn span,
.header.top:hover .hamburger-btn span {
  background-color: #201F1E;
}

.header.hide.top {
  top: -160px;
}

.header.hide {
  top: -100px;
}

.header.top .inner {
  height: 160px;
  
}

.header.top:hover .inner {
  border-color: #ededed;
}

.header.top .header-gnb__dep01 {
  height: 160px;
  color: #fff;
}

.header .header-gnb__dep01.on,
  .header.top .header-gnb__dep01.on {
  color: var(--orange);
}

.header.top .header-lang a {
  color: #fff;
}

.header.top .hamburger-btn span {
  background-color: #fff;
}

.header .header-gnb .header-gnb__dep02 {
  display: none;
  width: 100vw;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  text-align: center;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 100%);
  transform: translate(-50%, 100%);
  opacity: 0;
  -webkit-transition: top 0.2s ease, opacity 0.2s ease;
  transition: top 0.2s ease, opacity 0.2s ease;
}

.header .dep02-bg {
  content: "";
  height: 100%;
  width: 99999px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-bottom: 1px solid #ededed;
}

.header .dep02-bg.active {
  height: calc(100% + 80px);
  opacity: 1;
}

.header .header-gnb .header-gnb__dep02 li {
  display: inline-block;
  margin-right: 40px;
}

.header .header-gnb .header-gnb__dep02 li:hover a {
  font-weight: 600;
  color: var(--orange);
}

.header .header-gnb .header-gnb__dep02 li a {
  white-space: nowrap;
  font-size: 16px;
  font-weight: 600;
  height: 80px;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header .header-gnb .header-gnb__dep02 li:last-child {
  margin-right: 0;
}

.hamburger-btn {
  width: 32px;
  cursor: pointer;
  position: relative;
  z-index: 9999;
}

.hamburger-btn span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #201F1E;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  border-radius: 2px;
}

.hamburger-btn span:not(:first-child) {
  margin-top: 5px;
}

.hamburger-btn span:nth-child(1),
.hamburger-btn span:nth-child(2) {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.hamburger-btn span:nth-child(3) {
  width: 22px;
  margin-left: auto;
  -webkit-transform: rotate(0deg) translate(0, 0);
  transform: rotate(0deg) translate(0, 0);
}

.hamburger-btn.active span:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(4px, 4px);
  transform: rotate(45deg) translate(4px, 4px);
}

.hamburger-btn.active span:nth-child(2) {
  -webkit-transform: scale(0);
  transform: scale(0);
}

.hamburger-btn.active span:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(6.5px, -6px);
  transform: rotate(-45deg) translate(6.5px, -6px);
  width: 100%;
}
body.no-scroll::-webkit-scrollbar {
  display: none;
}
.header-util {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto;
}

.header-side {
  display: none;
  opacity: 0;
  z-index: 98;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: calc(100vw + 17px);
  height: 100vh;
  overflow: hidden;
  background-image: url("/image/common/side_bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header-side .inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 190px;
}

.header-side .inner02 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 40px;
}

.header-side .inner02 > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.header-side .header-side__dep01 {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  display: block;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 380px;
}
.header-side .header-side__dep01.mob {
  display: none;
}

.header-side .header-side__dep02 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-side .header-side__dep02 a {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  white-space: nowrap;
}

.header-side .inner02:hover .header-side__dep01 {
  opacity: 0.3;
}

.header-side .inner02:hover .header-side__dep02 a {
  opacity: 0.3;
}

.header-side .inner02 > div:hover .header-side__dep01 {
  opacity: 1;
}

.header-side .inner02 .header-side__dep02 li:hover a {
  opacity: 1;
}

.header-side__util {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  grid-column-start: 6;
  grid-column-end: 8;
  gap: 30px;
}

.header-side__util a {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header-side .inner02:hover .header-side__util a {
  opacity: 0.3;
}

.header-side .inner02 .header-side__util a:hover {
  opacity: 1;
}

.header.side-on {
  background-color: transparent;
  height: 160px;
  border-color: transparent;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header.side-on::after {
  opacity: 0;
}
.header.side-on:hover {
  background-color: transparent;
}

.header.side-on:hover .inner {
  background-color: transparent;
  border-color: transparent;
}

.header.side-on .header-lang a {
  color: #fff !important;
}

.header.side-on .hamburger-btn span {
  background-color: #fff !important;
}

.header.side-on .nav-bar {
  display: none;
}

.nav-bar.is-market {
  opacity: 0;
  height: 0;
}
.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 1px;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  left: 0;
  right: 0;
  gap: 60px;
  background-color: var(--medium);
  overflow: hidden;
  height: 50px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: -1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.nav-bar a {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  opacity: 0.5;
}

.nav-bar a.on {
  opacity: 1;
}

.footer {
  position: relative;
  z-index: 3;
  background-color: #eaeaea;
  padding: 100px 0;
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 80px;
}

.footer-top .footer-family {
  margin-left: auto;
  margin-right: 40px;
  width: 175px;
  height: 56px;
  position: relative;
}

.footer-top .footer-family button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0 28px;
  border-radius: 2em;
  border: 2px solid #ccc;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-top .footer-family button:hover svg {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.footer-top .footer-family button svg {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.footer-top .footer-family ul {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  display: none;
  bottom: calc(100% + 5px);
  border: 2px solid #ccc;
  background-color: #eaeaea;
  border-radius: 20px;
  padding: 16px 24px;
}

.footer-top .footer-family ul li {
  margin-bottom: 6px;
}

.footer-top .footer-family ul li:last-child {
  margin-bottom: 0;
}

.footer-top .footer-family ul li a {
  width: 100%;
  display: block;
  font-weight: 500;
  font-size: 14px;
}
.footer-top .footer-family ul li a:hover {
  text-decoration-line: underline;
}

.footer-top .footer-sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-top .footer-sns a:not(:first-child) {
  margin-left: 20px;
}

.footer-util {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.footer-util address ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-util address ul li p {
  font-size: 16px;
  color: #514e4b;
  font-weight: 500;
}

.footer-util address ul li p:last-child::before,
.footer-util address ul li a:last-child::before {
  content: "";
  width: 1px;
  height: 10px;
  background-color: #bbb;
  display: inline-block;
  vertical-align: middle;
  margin: 0 20px;
}

.footer-util address ul li.terms {
  margin-bottom: 20px;
  font-size: 16px;
}

.footer-util address ul li.terms a:first-child {
  color: #201F1E;
  font-weight: 700;
}

.footer-util .copy {
  font-size: 15px;
  color: #bbb;
  font-weight: 500;
}

.top-btn.hide {
  opacity: 0;
}

.top-btn {
  position: fixed;
  bottom: 40px;
  right: 50%;
  transform: translateX(930px);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #fff;
  background-color: #514E4B;
  font-size: 14px;
  line-height: 1;
  font-weight: 500;
  z-index: 97;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.top-btn.bottom {
  position: absolute;
  bottom: calc(var(--footerHeight) + 40px);
}

.top-btn img {
  margin-bottom: 6px;
}
@media all and (max-width: 1884px) {
  .top-btn {
    right: 3.90625%;
    transform: none;
  }
}
@media all and (max-width: 1800px) {
  .header-side .inner {
    padding-top: 140px;
  }
  .header-side .inner02{
    gap: 30px;
  }
  .header-side .header-side__dep01 {
    width: 240px;
    font-size: 28px;
    flex: none;
  }
  .header-side .inner02 .header-side__dep02 a{
    font-size: 18px;
  }
}
@media all and (max-width: 1650px) {
  .header .header-gnb {
    display: none;
  }
  .header.top:hover {
    background-color: transparent;
  }
  .header.top:hover::after {
    background-color: transparent;
  }
  .header-side__util {
    margin-top: 20px;
  }
  .header-side .header-side__dep02 {
    flex-wrap: wrap;
  }
  .header.top:hover .header-lang a {
    color: #fff;
  }
  .header.top:hover .hamburger-btn span {
    background-color: #fff;
  }
  .header.top.is-sub:hover .hamburger-btn span {
    background-color: var(--dark);
  }
}
@media all and (max-width: 1440px) {
  .show-1440 {
    display: block !important;
  }
  .hide-1440 {
    display: none !important;
  }
}
@media all and (max-width: 1200px) {
  .show-1200 {
    display: block !important;
  }
  .hide-1200 {
    display: none !important;
  }
  .header-side {
    width: 100vw;
    overflow-y: scroll;
    scrollbar-gutter: stable;
  }
  .header-side .inner02 > div {
    flex-direction: column;
    gap: 20px;
  }
  .header-side .inner02 {
    margin: 0;
  }
  .header-side .inner {
    min-height: 100%;
    margin: 0;
    padding: var(--headerHeight) 3.90625% 140px;
  }
  .header-side .header-side__dep02 {
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.50);
    padding: 20px;
  }
  .header-side__util {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: flex-start;
    align-items: center;
    height: 100px;
    background-color: var(--dark);
    padding: 0 3.90625%;
    margin-top: 0;
  }
  .header-side .header-side__dep01.pc {
    display: none;
  }
  .header-side .header-side__dep01.mob {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header-side .header-side__dep01 {
    width: auto;
  }
  .header-side .header-side__dep01 img {
    width: 30px;
    transition: transform .3s ease;
  }
  .header-side .header-side__dep01.active img {
    transform: rotate(-180deg);
  }
  .side-slide__wrap {
    display: none;
  }
  .header-side .inner02:hover .header-side__dep02 a {
    opacity: 1;
  }
  .header-side .inner02:hover .header-side__dep01 {
    opacity: 1;
  }
  
}
@media all and (max-width: 1024px) {
  .show-1024 {
    display: block !important;
  }
  .hide-1024 {
    display: none !important;
  }
  .footer-top {
    flex-wrap: wrap;
  }
  .footer-top .footer-family {
    width: 100%;
    order: 3;
    margin-top: 30px;
    margin-right: 0;
  }
  .footer-top .footer-sns {
    order: 2;
    margin-left: auto;
  }
  .footer-util{
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  .footer{
    padding: 50px 0;
  }
  .footer-util address ul li.terms {
    margin-bottom: 10px;
  }
}
@media all and (max-width: 720px) {
  .show-720 {
    display: block !important;
  }
  .hide-720 {
    display: none !important;
  }
  .footer-top {
    margin-bottom: 16.67vw;
  }
  .footer-top .footer-family {
    margin-top: 8.33vw;
    height: 11.11vw;
  }
  .footer-top .footer-sns {
    margin-left: auto;
  }
  .footer-util{
    gap: 8.33vw;
  }
  .footer{
    padding: 13.89vw 0;
  }
  .footer-util address ul li.terms {
    margin-bottom: 2.78vw;
  }
  .footer-logo {
    width: 43.06vw;
  }
  .footer-top .footer-sns a:not(:first-child) {
    margin-left: 2.78vw;
  }
  .footer-top .footer-sns a:not(:last-child) {
    width: 5.56vw;
  }
  .footer-top .footer-sns a:last-child {
    width: 2.5vw;
  }
  .footer-top .footer-family button {
    padding: 0 3.89vw;
    font-size: 3.33vw;
    border: .28vw solid #ccc;
  }
  .footer-top .footer-family ul {
    bottom: calc(100% + .69vw);
    border: .28vw solid #ccc;
    border-radius: 2.78vw;
    padding: 3.89vw;
  } 
  .footer-top .footer-family ul li a{
    font-size: 3.33vw;
  }
  .footer-util address ul li p:last-child::before {
    height: 2.08vw;
    margin: 0 2.08vw;
  } 
  .footer-util address ul li a,
  .footer-util address ul li p{
    font-size: 3.06vw;
  }
  .footer-util .copy {
    font-size: 3.06vw;
  }
  .footer-top .footer-family button svg path {
    width: 2.78vw;
  }
  .footer-util address ul li p:last-child::before,
    .footer-util address ul li a:last-child::before {
    height: 2.08vw;
    margin: 0 2.08vw;
  }
  
}
@media all and (max-width: 640px) {
  .header.side-on,
  .header .inner {
    height: 16.67vw;
  }
  .header.hide {
    top: -16.67vw;
  } 

  .header.top.side-on,
  .header.top .inner {
    height: 22.22vw;
  }
  .header-logo {
    width: 43.06vw;
  }
  .header-util {
    margin-left: auto;
  }
  .header .header-lang {
    display: none;
  }
  .header.side-on .header-logo {
    display: none;
  }
  .header.side-on .header-util {
    margin-left: 0;
    width: 100%;
  }
  .header.side-on .hamburger-btn {
    margin-left: auto;
  }
  .header.side-on .header-lang {
    display: flex;
  }
  .header-side .inner {
    padding: 25vw 3.90625% 18.06vw;
  }
  .header-side .header-side__dep01 {
    font-size: 6.11vw;
  }
  .header-side .header-side__dep01 img{
    width: 5.83vw;
  }
  .header-side .inner02{
    gap: 8.33vw;
  }
  .header-side .header-side__dep02 {
    gap: 4.17vw;
    padding: 4.17vw;
  }
  .header-side .inner02 .header-side__dep02 a{
    font-size: 4.72vw;
  }
  .header-side__util {
    height: 13.89vw;
    gap: 4.17vw;
  }
  .header-side__util a {
    font-size: 3.06vw;
  }
  .header-side__util a img {
    width: 4.17vw;
  }
}