.sec01-content .item b {
  font-size: 70px;
}
.sec01-content .item p {
  font-size: 18px;
  margin-top: 40px;
}
.main-sec {
  padding: 120px 0;
}
.main-vision {
  background-position: top -93px right -77px;
  background-size: 50%;
}
.main-tit h3{
  font-size: 45px;
}
.main-vision__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);   
  grid-gap: 30px;
}
.main-vision__normal h4 {
  font-size: 30px;
}
.main-news_slide .item {
  margin-right: 30px;
  width: 40vw;
}
.main-investment_list {
  display: block;
  margin-right: 0;
}
.main-investment_list .list {
  /* max-width: none; */
  height: 300px;
  width: 40vw;
  margin-right: 20px;
}

@media all and (max-width:1024px) {
  .main-tit h3 {
    font-size: 36px;
  }
  .main-vision__list {
    grid-gap: 20px;
    margin-top: 40px;
  }
  .main-vision__list li {
    height: 58.33vw;
    padding: 8.33vw 4.17vw;
  }
  .main-business .swiper-slide .slide-desc {
    gap: 20px;
  }
  .main-business .swiper-slide .slide-desc h4{
    font-size: 40px;
  }
  .main-business .swiper-slide .slide-desc p{
    font-size: 16px;
  }
  
}

@media all and (max-width:720px) {
  .main-vision__list {
    grid-template-columns: 1fr;
    grid-gap: 2.78vw;
  }
  .main-vision__inner > div {
    transform: none;
  }
  .main-vision__list li::before {
    display: none;
  }
  .main-vision .view-more {
    display: none;
  }
  .main-vision__normal p {
    font-size: 3.61vw;
    margin-bottom: 1.39vw;
  }
  .main-vision__normal h4{
    font-size: 5.28vw;

  }
  .main-vision__hidden {
    opacity: 1;
    margin-top: 4.17vw;
  }
  .main-vision__hidden p{
    font-size: 3.33vw;
    line-height: 1.4;
  }
  .main-tit h2{
    font-size: 3.89vw;
    margin-bottom: 2.78vw;
  }
  .main-tit h3 {
    font-size: 6.67vw;
  }
  .main-vision__list{
    margin-top: 11.11vw;
  }
  .main-sec {
    padding: 22vw 0;
  }
  .main-vision {
    background-position: top -12.92vw right -10.69vw;
    background-size: 56.25vw;
  }
  .main-vision__list li:nth-child(1)::after {
    background-image: url("/image/main/main_vision01_m.jpg");
  }
  
  .main-vision__list li:nth-child(2)::after {
    background-image: url("/image/main/main_vision02_m.jpg");
  }
  
  .main-vision__list li:nth-child(3)::after {
    background-image: url("/image/main/main_vision03_m.jpg");
  }
  
  .main-vision__list li:nth-child(4)::after {
    background-image: url("/image/main/main_vision04_m.jpg");
  }
  .main-business .swiper-slide {
    height: 116.67vw;
  }
  .main-business .swiper-button-prev, .main-business .swiper-button-next{
    width: 6.94vw;
    height: 6.94vw;
  }
  .main-business .swiper-button-next {
    right: 4.44vw;
  }
  .main-business .swiper-button-prev {
    left: 4.44vw;
  }
  .main-business .swiper-slide .slide-desc {
    gap: 5.56vw;
  }
  .main-business .swiper-slide .slide-desc h4 {
    font-size: 8.89vw;
  }
  .main-business .swiper-slide .slide-desc p {
    font-size: 3.61vw;
  }
  .main-business .swiper-container-horizontal > .swiper-pagination-bullets, .main-business .swiper-pagination-custom, .main-business .swiper-pagination-fraction {
    gap: 2.5vw;
    margin-top: 6.94vw;
  }
  .main-business .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    width: 2.22vw;
    height: 2.22vw;
  }
  .main-news_slide .item {
    margin-right: 5.56vw;
    width: 80.56vw;
  }
  .main-news__thumb {
    margin-bottom: 5.56vw;
  }
  .main-news_slide .item b{
    font-size: 4.17vw;
    margin-bottom: 4.17vw;
  }
  .main-news_slide .item span{
    font-size: 3.61vw;
  }
  .main-news_slide{
    margin-top: 11.11vw;
  }
  .main-news .view-more {
    margin: 11.11vw auto 0;
  }
  .view-more {
    border: .28vw solid #ddd;
    border-radius: 20.83vw;
    width: 33.19vw;
    height: 11.11vw;
    gap: 3.06vw;
    padding: 0 5.56vw;
    font-size: 3.33vw;
  }
  .sec06 {
    padding: 35.42vw 0;
  }
  .sec06-bg {
    background-image: url(/image/main/sec06_bg_m.jpg);
  }
  .sec06::before {
    display: none;
  }
  .sec06 .main-tit .view-more {
    margin: 16.67vw auto 0 0;
  }
  .sec06 .main-tit h3 {
    font-size: 6.67vw;
  }
  .main-investment_list {
    margin-top: 11.11vw;
  }
  .main-investment_list .list{
    height: 58.33vw;
    width: 80.56vw;
    padding: 8.33vw 5.56vw
  }
  .main-investment_list .list span{
    font-size: 3.33vw;
    margin-bottom: 4.17vw;
  }
  .main-investment_list .list p {
    font-size: 4.17vw;
  }
  .main-investment_list .list > a{
    font-size: 3.33vw;
    left: 5.56vw;
    bottom: 8.33vw;
  }
  .main-investment_list .list > a i {
    margin-left: 2.22vw;
  }
  .main-investment .view-more.mob {
    display: flex;
    margin: 11.11vw auto 0;
  }
  .main-investment {
    background-position: top -12.5vw right -18.47vw;
    background-size: 58.33vw;
  }
}

@media all and (max-width:640px) {
  .sec01 {
    height: 211.11vw;
  }
  .sec01-slideWrap{
    bottom: 27.78vw;
  }
  .sec01-content .item b {
    font-size: 12.78vw;
  }
  .sec01-content .item p {
    font-size: 3.89vw;
    margin-top: 16.67vw;
  }
  .main-mv_scrollDown p{
    font-size: 2.5vw;
    margin-bottom: 2.78vw;
  }
  .main-mv_scrollDown div{
    height: 12.5vw;
  }
  
}